<% @products.each do |product| %>
  <div class="col-xs-6 pad">
    <% if product.photo.present? %>
      <div class="cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
             url('<%= cl_image_path product.photo, height: 300, width: 300, :crop =>"scale" %>')">
        <div class="card-category">
            <h2><%= product.category.capitalize %></h2></div>
          <div class="card-description">
            <h2> <%= product.title %></h2>
          </div>
          <div class="price-description">
            <p><%= product.price %>€ / jours</p>
          </div>
          <% if product.user.photo.present? %>
            <%= image_tag product.user.photo, class: "card-user" %>
          <% else %>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/davidcrn">
          <% end %>
        <!-- <%#= image_tag product.user.photo, crop: :fill, class: "card-user" %> -->
        <%= link_to "", product_path(product), class: "card-link" %>
      </div>
    <% else %>
      <div class="cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path 'zayrptmcw9ui3koordzp', height: 300, width: 400, crop: :fill %>')">
        <div class="card-category">Vélo Cinelli à louer</div>
          <div class="card-description">
            <h2> <%= product.title %></h2>
          </div>
          <div class="price-description">
            <p> <%= product.price %> €</p>
            <p><%= product.category %></p>
            <p><%= product.address %></p>
          </div>

        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/davidcrn">
          <%= link_to "", product_path(product), class: "card-link" %>
      </div>
    <% end %>
  </div>
<% end %>

