

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Reservation</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mes Locations</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mes Produits</a></li>
  </ul>

  <!-- Tab panes -->
<div class="container">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
      <% @product_bookings.each do |booking| %>
        <div class="content-resa">
          <div class="debut">
            <div class="title">
              <p><%= booking.product.title %></p>
              <p><%= image_tag booking.product.photo, class: "photo" %></p>
            </div>
            <div class="adress">
              <p><%= booking.product.address %> </p>
            </div>
            <div class="price">
              <p><%= booking.product.price %>€ </p>
            </div>
          </div>
          <div class="fin">
            <div class="date">
              <p><%= booking.checkin %> </p> 
              <p><%= booking.checkout %> </p>
            </div>
            <div class="status">
              <p><%= booking.status %></p>
            <div class="btn-deux">
              <%= link_to "Valider", validate_booking_path(booking), class: "btn-valide" %>
              <%= link_to "Refuser", refuse_booking_path(booking), class: "btn-refuse" %>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
      <% @bookings.each do |booking| %>
        <div class="content-resa">
          <div class="debut">
            <div class="title">
              <p><%= booking.product.title %></p>
              <p><%= image_tag booking.product.photo, class: "photo" %></p>
            </div>
            <div class="name">
              <p><%= booking.product.user.name %></p>   
            </div>
            <div class="adress">
              <p><%= booking.product.address %></p>
            </div>
            <div class="price">
              <p><%= booking.product.price %>€</p>
            </div>
          </div>
          <div class="fin2">
            <div class="date">
              <p><%= booking.checkin %></p> 
              <p><%= booking.checkout %></p>
            </div>
            <div class="status">
              <p><%= booking.status %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="messages">...</div>
  <div role="tabpanel" class="tab-pane" id="settings">...</div>
</div>








