<div class="tab">
  <button class="tablinks" onclick="openBooking(event, 'Produit Loué')">Location</button>
  <button class="tablinks" onclick="openBooking(event, 'Produit Acquis')">Produit</button>
</div>

<div id="Produit Loué" class="tabcontent">
  <% @bookings.each do |booking| %>
    <p><%= booking.product.user.name %> | 
    <%= booking.product.title %>
    <%= booking.product.address %> |
    <%= booking.product.price %>€ |
    <%= booking.checkin %> | 
    <%= booking.checkout %> |
    <%= booking.status %></p>
  <% end %>
</div>

<div id="Produit Acquis" class="tabcontent">
  <% @product_bookings.each do |booking| %>
    <p><%= booking.product.title %>
      <%= booking.product.address %> |
      <%= booking.product.price %>€ |
      <%= booking.checkin %> | 
      <%= booking.checkout %> |
      <%= booking.status %></p>
     <!--  <#% if product.user. %> -->
      <%= link_to "Valider", validate_booking_path(booking) %>
      <%= link_to "Refuser", refuse_booking_path(booking) %>
    <% end %>
</div>
