

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Réservations</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mes Locations</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mes Produits</a></li>
  </ul>

  <!-- Tab panes -->
<div class="wrap">
  <div class="container">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <% @product_bookings.each do |booking| %>
          <div class="content-resa">
            <div class="debut">
              <div class="title">
                <p><%= booking.product.title %></p>
                <p><%= image_tag booking.product.photo, class: "photo" %></p>
              </div>
              <div class="adress">
                <p><%= booking.product.address %> </p>
              </div>
              <div class="price">
                <p><%= booking.product.price %>€/j </p>
              </div>
            </div>
            <div class="fin">
              <div class="date">
                <p>Date :</p>
                <p><%= booking.checkin %> </p> 
                <p><%= booking.checkout %> </p>
              </div>
              <div class="status">
                <p><%= booking.status %></p>
              <div class="btn-deux">
                <% if booking.status == "Pending" %>
                <%= link_to "Valider", validate_booking_path(booking), class: "search-button" %>
                <%= link_to "Refuser", refuse_booking_path(booking), class: "btn-black" %>
              <% end %>
              </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">
        <% @bookings.each do |booking| %>
          <div class="content-resa">
            <div class="debut">
              <div class="title">
                <p><%= booking.product.title %></p>
                <p><%= image_tag booking.product.photo, class: "photo" %></p>
              </div>
              <div class="name">
                <p><%= booking.product.user.name %></p>   
              </div>
              <div class="adress">
                <p><%= booking.product.address %></p>
              </div>
              <div class="price">
                <p><%= booking.product.price %>€/j</p>
              </div>
            </div>
            <div class="fin2">
              <div class="date2">
                <p>Date :</p>
                <p><%= booking.checkin %></p> 
                <p><%= booking.checkout %></p>
              </div>
              <div class="status">
                <p><%= booking.status %></p>
                <p><%= link_to "Annuler", destroy_booking_path(booking), class: "btn-refuse" %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
      <% @products.each do |product| %>
            <div class="content-resa">
              <div class="title">
                <p><%= product.title %></p>
                <p><%= image_tag product.photo, class: "photo" %></p>
              </div>
              <div class="adress2">
                <p><%= product.address %></p>   
              </div>
              <div class="price">
                <p><%= product.price %>€/j</p>
              </div>
              <div class="delete-product">
               <%= link_to "Supprimer", product_path(product),method: :delete, class: "search-button" %>
              </div>
            </div>
            <!-- <div class="fin2"> -->
              <!-- <div class="date2">
              </div> -->
              <!-- <div class="status">
              </div> -->
            <!-- </div>
   -->
        <% end %>
    </div>
    </div>
</div>

  </div>
