<% @bookings.each do |booking| %>
<p><%= booking.product.user.name %> | 
<%= booking.product.title %>
<%= booking.product.address %> |
<%= booking.product.price %>€ |
<%= booking.checkin %> | 
<%= booking.checkout %> |
<%= booking.status %></p>
<% end %>
