<div class="formule">
  <%= simple_form_for(@product) do |f| %>
  <%= f.input :title, :label => "Titre", placeholder: "Votre produit" %>
  <%= f.select :category, Product::CATEGORY, prompt: "Choisissez une catégorie" %><br>
  <br><%= f.input :description, placeholder: "Description de votre produit" %>
  <%= f.input :address, :label => "Adresse" %>
  <%= f.input :price, :label => "Prix", placeholder: "Prix" %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, :value => "Ajouter un produit", class: "search-button"   %>

<% end %>
</div>

