<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @product.each do |product| %>
<!--   <%= product.title %>
  <%= product.category %>
  <%= product.price %>
 <%#= cl_image_tag product.photo, height: 300, width: 400, crop: :fill %>
  <%= product.address %> -->
  <%= render 'Component/card' %>
<% end %>
<%= link_to "Ajouter un produit", new_product_path  %>
