<div class="wrappers">
  <div class="container">
    <div class="li">
      <%= link_to "Retour aux produits", products_path%>
    </div>
    <div class="product">
      <div class="product-img">
      <%= cl_image_tag @product.photo, height: 380, width: 480, crop: :scale, class: "show-img" %>
      </div>
      <div class="product-map">
        <div
          id="map"
          style="width: 600px;
          height: 100%;
          position: sticky !important;
          top: 0;"
          data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
      <div class="product-description">
        <div class="product-title">
          <h1><%= @product.title %></h1>
        </div>
        <div class="product-category">
          <h2><%= @product.category %></h2>
        </div>
        <div class="product-show-description">
          <p><%= @product.description %></p>
        </div>
        <div class="reservation">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
            Reserver
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Réservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'bookings/form' %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
